<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs', {title:"Activities"}) %>
    <body>
    <%- include('./partials/header.ejs') %>
    <h2 id="activitiesTitle">Select an activity to render</h2>
    <div id="activities">
        <% sorties.forEach( sortie => { %>
            <% let link = "/upload/strava/" + sortie.id + "/" + sortie.slug %>
            <a href=<%= link %> class="activityCard">
                <div class="activityContainer">
                    <% let maxTitleLength = 24; %>
                    <% let shortString = ""; %>
                    <% if(sortie.name.length > maxTitleLength){ %>
                        <% shortString = sortie.name.substring(0, maxTitleLength - 3) + "..."; %>
                    <% } else {  %>
                        <% shortString = sortie.name %>
                    <% }; %>
                    <h3><%= shortString%></h3>
                    <p class="type"><%= sortie.type %></p>                
                    <p class="distance"><%= sortie.distance %>km</p> 
                    
                    <p class="date"><%= (new Date (sortie.date)).toLocaleDateString()%></p> 
                </div>
            </a>
        <% }); %>
    </div>
</body>
</html>