<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs', {title:"Latest Renders"}) %>
    <body>
        <%- include('./partials/header.ejs') %>
        <div id="latestContainer">
        <h2>Latest Renders</h2>
            <% render.forEach(render => { %>
                <% let str = "/renders/" + render.id %>
                <div class="render">             
                    <h3><%= render.title %></h3>
                    <p><%= (new Date (render.eventDate)).toLocaleDateString() %></p>
                    <% let imgpath = render.filename.slice(0, -4) %>
                    <a href=<%= str %>>
                    <img src=<%= str.concat(imgpath, '_render.png') %> >
                    </a>
                </div>
            <% }); %>
        </div>
    </body>
</html>